*{
  font-family: Helvetica, sans-serif;
}

#container{
  width: 500px;
  margin: 0 auto;
}

#form-add-todo{
  display: flex;
  gap: 0.5rem;
}

#form-add-todo input{
  flex: 1;
  border: 1px solid black;
  height: 2rem;
  padding: 0 0.5rem;
}

#form-add-todo input:hover{
  background-color: whitesmoke
}

#form-add-todo input:focus{
  background-color: white;
  border: 1px solid black;
  outline: none;
  box-shadow: 0px 0px 5px rgb(199, 199, 199);
}

#form-add-todo button{
  background-color: #f4B200;
  border: none;
  width: 3rem;
}

#form-add-todo button:hover{
  background-color: rgb(255, 102, 0);
}

#todo-list{
  list-style: none;
  word-wrap: break-word;
  padding: 0;
  border: 1px solid #ebebec;
}

#todo-list li{
  padding: 0.5rem 1rem;
}

#todo-list li:nth-child(odd){
  background-color: #80808050;
}